<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><%= bookmark %></li>
  <% end %>
</ul>

<form action="/bookmarks" method="post">
  <input type="text" name="Add">
  <input type="submit" value="Submit">
</form>
